body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom left, #B22222, #FF8C00);
}
#bucle img{
    width: 200px;
    height: auto;
    margin: 20px;
    border-radius: 20px;
}